body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header, nav, footer {
    text-align: center;
    padding: 15px;
    background-color: #0d0d0d;
    color: white;
}


nav ul {
    list-style: none;
    padding: 0;
}


nav ul li {
    display: inline;
    margin: 0 15px;
}


nav ul li a {
    color: white;
    text-decoration: none;
}


.container {
    display: flex;
    margin: 20px;
}


.sidebar {
    width: 30%;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
}


.content {
    flex: 1;
    padding: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}


caption {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}


thead th {
    background-color: black;
    color: white;
    padding: 10px;
}


tbody td {
    padding: 10px;
    text-align: left;
}


tbody tr:nth-child(even) {
    background-color: #e8e8e8;
}


tbody tr:nth-child(odd) {
    background-color: #ffffff;
}


footer {
    margin-top: 30px;
}
