body {
    font-family: arial, Arial, Helvetica, sans-serif;
}

.parent {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
}

.child {
    background-color: aliceblue;
}
#wrapper {
    display: grid;
    grid-template-areas: 
    "top top top"
    "iside"
}

.row {
    display: flex;
    flex-flow: row wrap;
    /*flex direction: row;
    flex-wrap: wrap*/
    justify-content: space-evenlys;
}

